---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Paper Visuals</title>
	</head>
	<body>
		<main>
			<h1>Paper Visuals</h1>
			<a href="/japan-vacation-2026/">Japan Vacation 2026</a>
		</main>
	</body>
</html>
